{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h2>Scores</h2>
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Date:
        <dd><input id="date" type=text size=30 name=gamedate placeholder="if empty, today's date" >
        <dt>Player1:
        <dd><input type=text size=30 name=player1>
        <dt>Player2:
        <dd><input type=text size=30 name=player2>
        <dt>Player3:
        <dd><input type=text size=30 name=player3>
        <dt>Player4:
        <dd><input type=text size=30 name=player4>
        <dt>Score12:
        <dd><input type=text size=30 name=score12>
        <dt>Score34:
        <dd><input type=text size=30 name=score34>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>Match {{ entry.id|safe }}
    </h2>{{ entry.gamedate|safe }}
    </h2>{{ entry.player1|safe }}
    </h2>{{ entry.player2|safe }}
    </h2>{{ entry.player3|safe }}
    </h2>{{ entry.player4|safe }}
    </h2>{{ entry.score12|safe }}
    </h2>{{ entry.score34|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
