{% extends "layout.html" %}
{% block body %}
<h2>ELOS</h2>
<ul class=elo>

{% for table in tables %}
            {{ table|safe }}
{% endfor %}
</ul>
<img src="/plot_elo.png" alt="my plot" style="width:420px;height:420px;border:0;">
{% endblock %}
