<!doctype html>
<title>Baby</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style4.css') }}">
<div class=page>
  <h1>Baby</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <dl>
    <a href="{{ url_for('logout') }}">log out</a>
    <a href="{{ url_for('show_scores') }}">scores</a>
    <a href="{{ url_for('elos') }}">elos</a> 
    </dl>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

