{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <h2>Enter score</h2>
    <form action="{{ url_for('add_score_to_db') }}" method=post class=add-entry>
      <dl>
        <dt>Date:
        <dd><input id="date" type=text size=30 name=gamedate placeholder="if empty, today's date" >
        <dt>Player1:
        <dd><input type=text size=30 name=player1 value='simon'>
        <dt>Player2:
        <dd><input type=text size=30 name=player2 value='jacky'>
        <dt>Player3:
        <dd><input type=text size=30 name=player3 value='luc'>
        <dt>Player4:
        <dd><input type=text size=30 name=player4 value='florent'>
        <dt>Score12:
        <dd><input type=text size=30 name=score12 value='10'>
        <dt>Score34:
        <dd><input type=text size=30 name=score34 value='3'>
        <dt>Comment:
        <dd><input type=text size=30 name=comment value=''>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    <form action="{{ url_for('remove_score_from_db') }}" method=post class=add-entry>
    <h2>Remove score</h2>
        <dd><input type=text size=30 name=remove_id placeholder='id'>
        <dd><input type=submit value=Remove>

    </form>
  {% endif %}
    <ul class=table>
  {% for table in entries %}
            {{ table|safe }}
{% endfor %}
  </ul>

{% endblock %}
