{% extends "layout.html" %}
{% block body %}
<h2>VICTORIES</h2>
<ul class=vict>
<table>
{% for item in vict %}
<TR>
   <TD class="c1">{{item.player}}</TD>
   <TD class="c2">{{item.vict}}</TD>
</TR>
{% endfor %}
</table>
</ul>
<img src="/plot_vict.png" alt="my plot" style="width:420px;height:420px;border:0;">
{% endblock %}
